.nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: [title-s] 1fr [title-e links-s] 1fr [links-e];

    & > * {
        grid-row: 1/-1;
    }

    &__title {
        grid-column: title-s/title-e;

        @include header-text;
    }

    &__links {
        justify-self: end;
        grid-column: links-s/links-e;

        & > * {
            @include header-text($color: black);
            text-decoration: none;
        }

    }
}

.links {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    grid-column-gap: 12px;

    @media only screen and (max-width: $break-point) {
        display: none;
    }

    & > * {
        grid-row: 1/-1;
    }
}