.nav {
    display: grid;

    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
        font-weight: normal;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.3;
    }
    &__title {
        justify-self: end;
        align-self: end;
        font-size: 34px;
        margin: 20px 40px;

    }
    border-bottom: 1px solid rgb(53, 53, 53);
}

