

// ONLOAD KEYFRAME ANIMATIONS

.card {

    &:nth-child(1) {
        -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1.25s; /* Safari 4.0 - 8.0 */
        animation-name: slide-up;
        animation-duration: 1.25s;
    }
    &:nth-child(2) {
        -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1.75s; /* Safari 4.0 - 8.0 */
        animation-name: slide-up;
        animation-duration: 1.75s;
    }
    &:nth-child(3) {
        -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
        animation-name: slide-up;
        animation-duration: 1.5s;
    }
    &:nth-child(4) {
        -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
        animation-name: slide-up;
        animation-duration: 2s;
    }

    // &:nth-child(even) {

    // }
    // &:nth-child(odd) {
    //     -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
    //     -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    //     animation-name: slide-up;
    //     animation-duration: 1s;
    // }
}

// HOVER FLIP ANIMATION

.card {

    &__front,
    &__back {
        grid-column: 1/-1;
        grid-row: 1/-1;
        transition: all 0.5s ease;
    }

    -webkit-perspective: 1000px; /* Safari 4-8  */
    perspective: 1000px;

    &__back {
        z-index: 101;
        opacity: 0;
        transform: rotateY(-180deg);
    }

    &:hover {

        .card {
            &__front {
                z-index: 100;
                opacity: 1;
                transform: rotateY(180deg);
            }
            &__back {
                transform: rotateY(0deg);
                opacity: 1;
            }
        }
    }
}


.card {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;


    @media only screen and (max-width: $break-point) {
        width: 100%;
        height: 200px !important;
    }
    // @media only screen and (min-width: $break-point) and (max-width: 1000px) {
    //     width: 100%;
    // }
    
    height: 180px !important; 

    // &__front, 
    // &__back {
    //     @include card-grid;
    // }

    &__front {
        
        @include card-grid;
        & > * {
            grid-column: 1/-1;
            font-family: $raleway;
        }
    
        &__title {
            @include card-title-text;
            grid-row: 1/2;
            grid-column: inset-s/inset-e;
        }
        &__subtitle {
            @include card-subtitle-text;
            grid-row: 2/3;
            grid-column: inset-s/inset-e;
        }
        &__img-overlay {
            z-index: 11;
            grid-row: 1/-1;
            background-color: rgba(0, 0, 0, 0.568);
        }
        &__img {
            z-index: 10;
            grid-row: 1/-1;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }


    &__back {
        display: grid; 
        grid-template-rows: 40px 30px 10px [projects-s] 1fr [projects-e] 25px;
        grid-template-columns: 20px [inset-s] 1fr [inset-e] 20px;

        & > * {
            font-family: $raleway;
        }

        &__bg {
            background-color: rgba(83, 83, 83, 0.76);
            grid-row: 1/-1;
            grid-column: 1/-1;
        }
        &__title {
            @include card-title-text;
            grid-row: 1/2;
            grid-column: inset-s/inset-e;
        }
        &__info {
            @include card-subtitle-text;
            grid-row: 2/3;
            grid-column: inset-s/inset-e;
        }
        &__projects {
            grid-row: projects-s/projects-e;
            grid-column: inset-s/inset-e;
            justify-self: center;
            // align-self: center;

            display: grid;

            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
            // grid-auto-flow: column;
            grid-gap: 40px;

 

            // @media only screen and (max-width: $break-point) {
            //     display: grid;
            //     grid-template-rows: 80px 80px;
            //     grid-template-columns: 80px 80px;
            //     grid-gap: 20px;
            // }

        }
    }
}