.card-project {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    // height: auto;

    &__title {
        grid-row: 1/-1;
        grid-column: 1/-1;
        justify-self: center;
        margin-top: 8px;
        margin-left: 4px;
        margin-right: 4px;
        @include card-subtitle-text;
        // z-index: 10;
    }
    &__img {
        // z-index: 9;
        grid-row: 1/-1;
        grid-column: 1/-1;
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
}