// ONLOAD KEYFRAME ANIMATIONS

.card {
  &:nth-child(1) {
    -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.25s; /* Safari 4.0 - 8.0 */
    animation-name: slide-up;
    animation-duration: 1.25s;
  }
  &:nth-child(2) {
    -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.75s; /* Safari 4.0 - 8.0 */
    animation-name: slide-up;
    animation-duration: 1.75s;
  }
  &:nth-child(3) {
    -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: slide-up;
    animation-duration: 1.5s;
  }
  &:nth-child(4) {
    -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: slide-up;
    animation-duration: 2s;
  }

  // &:nth-child(even) {

  // }
  // &:nth-child(odd) {
  //     -webkit-animation-name: slide-up; /* Safari 4.0 - 8.0 */
  //     -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  //     animation-name: slide-up;
  //     animation-duration: 1s;
  // }
}

// HOVER FLIP ANIMATION

.card {
  -webkit-perspective: 1000px;
  perspective: 1000px;


  &__front,
  &__back {
    grid-column: 1/-1;
    grid-row: 1/-1;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    // & > * {
    //     transition: all 0.5s ease;
    // }
  }

  &__back {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(180deg);
    // z-index: 0;
  }

  &:hover {
    .card {
      &__front {
        opacity: 1;
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
      }
      &__back {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        opacity: 1;
      }
    }
  }
}

.card {
  display: grid;
  grid-template-rows: 180px;
  grid-template-columns: 1fr;

  @media only screen and (max-width: $break-point) {
    width: 100%;
    // max-height: 200px !important;
    // height: 200px !important;
    grid-template-rows: 200px;
  }
  min-width: 200px;
  max-width: 450px;

  // height: 180px !important;
  // max-height: 180px !important;

  // &__front,
  // &__back {
  //     @include card-grid;
  // }

  &__front {
    @include card-grid;

    & > * {
      grid-column: 1/-1;
      font-family: $raleway;
    }

    &__title {
      @include card-title-text;
      grid-row: 1/2;
      grid-column: inset-s/inset-e;
    }
    &__subtitle {
      @include card-subtitle-text;
      grid-row: 2/3;
      grid-column: inset-s/inset-e;
    }
    &__img-overlay {
      z-index: 3;
      grid-row: 1/-1;
      background-color: rgba(0, 0, 0, 0.568);
    }

    &__img {
      z-index: 2;

      grid-row: 1/-1;

      grid-column: 1/-1;
      height: 100%;
      width: 100%;

      object-fit: cover;

      // transform: translate(-50%, -50%);
    }
  }

  &__back {
    display: grid;
    grid-template-rows: 40px 20px 10px [projects-s] 1fr 10px [projects-e] 25px;
    grid-template-columns: 20px [inset-s] 1fr [inset-e] 20px;

    & > * {
      font-family: $raleway;
    }

    &__bg {
      background-color: rgba(71, 71, 71, 0.904);
      grid-row: 1/-1;
      grid-column: 1/-1;
    }
    &__title {
      @include card-title-text;
      grid-row: 1/2;
      grid-column: inset-s/inset-e;
    }
    &__info {
      @include card-subtitle-text;
      grid-row: 2/3;
      grid-column: inset-s/inset-e;
    }
    &__more {
        grid-row: 2/3;
        grid-column: inset-s/inset-e;

        justify-self: end;
        

        text-decoration: none;

        font-size: 12px;
        // color: ghostwhite;
        color: white;
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 8px;

        padding: 2px 10px;
        display: grid;
        justify-items: center;
        align-items: center;
        margin-top: -8px;
        margin-bottom: 8px;
    }
    &__projects {
      grid-row: projects-s/projects-e;
      grid-column: inset-s/inset-e;
      justify-self: center;
      // align-self: center;

      display: grid;

      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

      grid-auto-flow: row;
      grid-gap: 20px;

      @media screen and (max-width: $break-point) {
        
        grid-template-columns: minmax(50px, 80px) minmax(50px, 80px) minmax(50px, 80px) minmax(50px, 80px);
      }

    }
  }
}
