.home {
    display: grid;
    grid-template-rows: [content-s] 1fr [title-s] 1fr [title-e] 1fr [content-e];
    grid-template-columns: [title-s] 1fr [title-e content-s] 1fr [content-e];
    grid-row-gap: 40px;
    

    &__title {
        grid-row: title-s/title-e;
        grid-column: title-s/title-e;
        height: 100px;

        display: grid;
        grid-template-rows: 1fr 1fr 20px;
        grid-template-columns: 10px 1fr;
    
        align-items: center;
    
        &__heading {
            grid-row: 1/2;
            font-size: 6rem;
            // font-weight: bold;
        }
        &__type-writer {
            grid-row: 2/3;
            font-size: 6rem;
            font-weight: normal;
         }
    
        &__heading,
        &__type-writer {
            font-family: $raleway;
            grid-column: 1/-1;
        }

    }
    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
    }
    // &__typewriter {
    //     grid-row: content-s/content-e;
    //     grid-row: content-s/content-e;
    //     justify-self: center;
    //     align-self: center;
    // }
}