.home {
    display: grid;
    grid-template-columns: 0.65fr 1fr 400px;
    grid-template-rows: 125px 4fr 1fr;
    height: 100%;



    &__back {
        grid-row: 1/3;
        grid-column: 1/3;
        // z-index: -1;
        z-index: 10;

    }   

    &__front {

        grid-column: 2/4;
        grid-row: 2/4;
        z-index: 10;
    }

    &__title {
        font-size: 125px;
        color: white;
        grid-row: 1/-1;
        grid-column: 1/-1;
        z-index: 12;
        align-self: center;
        justify-self: center;
    }
}


.image-card {
    transition: all .3s ease;
    &:hover {
        z-index: 11;
        transform: scale(1.1);
    }
    -webkit-box-shadow: 0px 0px 38px 15px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 38px 15px rgba(0,0,0,0.26);
    overflow: hidden;
    img {
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
}