/* Safari 4.0 - 8.0 */
// @-webkit-keyframes cursor {
//     0%   {border-color: rgba(120, 120, 120, 0.733)}
//     50%  {border-color: transparent}
//   	100%  {border-color: rgba(120, 120, 120, 0.733)}
// }

/* Standard syntax */
@-webkit-keyframes slide-left {
    0%   { transform: translateX(0px) }
    50%  { transform: translateX(50%) }
  	100%  { transform: translateX(0px) }
}
@keyframes slide-left {
    0%   { transform: translateX(0px) }
    50%  { transform: translateX(50%) }
  	100%  { transform: translateX(0px) }
}

@-webkit-keyframes slide-right {
    0%   { transform: translateX(0px) }
    50%  { transform: translateX(-50%) }
  	100%  { transform: translateX(0px) }
}

@keyframes slide-right {
    0%   { transform: translateX(0px) }
    50%  { transform: translateX(-50%) }
  	100%  { transform: translateX(0px) }
}

// @keyframes slide-up {
//     0%   { transform: translateY(150%) }
//     50%  { transform: translateY(75%) }
//     100%  { transform: translateY(0%) }
// }
@-webkit-keyframes slide-up {
    0% { transform: translateY(150%); opacity: 0; }
    50%   {
         transform: translateY(150%);
         opacity: 0;
    }
    100%  { 
        transform: translateY(0%); 
        opacity: 1;
    }
} 
@keyframes slide-up {
    0% { transform: translateY(150%); opacity: 0; }
    50%   {
         transform: translateY(150%);
         opacity: 0;
    }
    100%  { 
        transform: translateY(0%); 
        opacity: 1;
    }
}

