
.app-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 20px [s] 1fr [e] 20px;
    grid-template-columns: 20px [s] 1fr [e] 20px;
}

.layout {
    grid-row: 1/-1;
    grid-column: 1/-1;
    // padding: -20px;
    // background: rgb(165, 165, 165);
    border: 6px solid rgba(43, 43, 43, 0.63);
    
    
    $layout-inset: 100px;
    $layout-inset-small: 10px;


    display: grid;
    grid-row-gap: 30px;
    grid-template-rows: 10px [home-s nav-s] auto [nav-e content-s] 1fr [content-e home-e footer-s] auto [footer-e] 10px;
    grid-template-columns: [content-s nav-s] $layout-inset [content-inset-s] 10px [nav-inset-s] 1fr [nav-inset-e] 10px [content-inset-e] $layout-inset [content-e nav-e];
    @media only screen and (max-width: $break-point-two) {
        grid-template-columns: [content-s nav-s] $layout-inset-small [content-inset-s] 10px [nav-inset-s] 1fr [nav-inset-e] 10px [content-inset-e] $layout-inset-small [content-e nav-e];
    }
    
    // align-items: center;
    // justify-items: center;
    // @media only screen and (max-width: 600px) {
    //     grid-template-rows: [home-s nav-s] 100px [nav-e content-s] 1fr [content-e home-e];
    //     grid-template-columns: [nav-s] 100px [nav-e content-s] 1fr [content-e];
    // }


    &__under-header {
        grid-row: home-s/home-e;
        grid-column: content-s/content-e;
    }

    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
    }

    &__content-inset {
        grid-row: content-s/content-e;
        grid-column: content-inset-s/content-inset-e;
    }

    &__nav {
        grid-row: nav-s/nav-e;
        grid-column: nav-s/nav-e;
    }

    &__nav-inset {
        grid-row: nav-s/nav-e;
        grid-column: nav-inset-s/nav-inset-e;
    }


    &__footer-inset {
        align-self: end;
        grid-row: footer-s/footer-e;
        grid-column: nav-inset-s/nav-inset-e;
    }

    
}

