


.layout {

    $layout-inset: 200px;
    $layout-inset-small: 10px;

    width: 100vw;
    height: 100%;

    display: grid;
    grid-row-gap: 30px;
    grid-template-rows: 40px [home-s nav-s] auto [nav-e content-s] 1fr [content-e home-e footer-s] auto [footer-e] 40px;
    grid-template-columns: [content-s nav-s] $layout-inset [content-inset-s] 10px [nav-inset-s] 1fr [content-inset-e] 10px [nav-inset-e] $layout-inset [content-s nav-e];
    @media only screen and (max-width: $break-point-two) {
        grid-template-columns: [content-s nav-s] $layout-inset-small [content-inset-s] 10px [nav-inset-s] 1fr [content-inset-e] 10px [nav-inset-e] $layout-inset-small [content-s nav-e];
    }
    // align-items: center;
    // justify-items: center;
    // @media only screen and (max-width: 600px) {
    //     grid-template-rows: [home-s nav-s] 100px [nav-e content-s] 1fr [content-e home-e];
    //     grid-template-columns: [nav-s] 100px [nav-e content-s] 1fr [content-e];
    // }


    &__under-header {
        grid-row: home-s/home-e;
        grid-column: content-s/content-e;
    }

    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
    }

    &__content-inset {
        grid-row: content-s/content-e;
        grid-column: content-inset-s/content-inset-e;
    }

    &__nav {
        grid-row: nav-s/nav-e;
        grid-column: nav-s/nav-e;
    }

    &__nav-inset {
        grid-row: nav-s/nav-e;
        grid-column: nav-inset-s/nav-inset-e;
    }


    &__footer-inset {
        align-self: end;
        grid-row: footer-s/footer-e;
        grid-column: nav-inset-s/nav-inset-e;
    }

    
}

