.layout {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: [home-s nav-s] 100px [nav-e content-s] 1fr [content-e home-e];
    grid-template-columns: [content-s nav-s] 1fr [content-s nav-e];

    @media only screen and (max-width: 600px) {
        grid-template-rows: [home-s nav-s] 100px [nav-e content-s] 1fr [content-e home-e];
        grid-template-columns: [nav-s] 100px [nav-e content-s] 1fr [content-e];
    }

    .navigation {
        grid-row: nav-s/nav-e;
        grid-column: nav-s/nav-e;
        z-index: 10;
    }
    &__under-header {
        grid-row: home-s/home-e;
        grid-column: content-s/content-e;
    }
    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
    }

    
}

