html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import 'variables';
@import 'mixins';
@import 'layout';
// @import 'navigation';
@import 'home/home';
@import 'page-title';

// nav
@import 'nav/nav';

// foooter
@import 'footer/footer';

// cards
@import 'cards/cards';
@import 'cards/card';
@import 'cards/card-project';
@import 'cards/detail/card-detail';
// body {
//     background-color: rgb(0, 255, 234);
// }

// typewriter
@import 'typewriter';
@import 'keyframe-animations';

// HOME
@import 'home/home';
@import 'home/home-card';
@import 'home/home-cards';