$gray-one: rgba(128, 128, 128, 0.829);
$gray-two: rgba(102, 102, 102, 0.829);
$gray-three: rgba(68, 68, 68, 0.829);
$quiet-gray: rgba(133, 133, 133, 0.9);
$opaque-gray: rgba(100, 100, 100, 0.2);

$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;

$break-point: 780px;
$break-point-two: 880px;